<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZwBBAt4nt30DBB03UYXR7TK7b2jKkMbk</string>
	<key>GCM_SENDER_ID</key>
	<string>760699802793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationDemo</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-82c7e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-82c7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760699802793:ios:ec5bd35d0c67fece9f05b8</string>
</dict>
</plist>